@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  --dark: #0E0E10;
  --primary: #FBD193;
  --icon: #F2B572;
  --light-grey: #F6F6F6;
  --input-border: #868686;
  --input-text: #A2A2A2;
  --secondary: #1E1E1E;
}

body {
  font: 'Montserrat',
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}