@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  --dark: #0E0E10;
  --primary: #FBD193;
  --icon: #F2B572;
  --light-grey: #F6F6F6;
  --input-border: #868686;
  --input-text: #A2A2A2;
  --secondary: #1E1E1E;
  /* 
  --react-international-phone-width: 100%; */
  /* --react-international-phone-text-color: #fff;
  --react-international-phone-background-color: var(--input-gray);
  --react-international-phone-border-radius: 9999px; */
  --react-international-phone-height: 3rem;
  --react-international-phone-border-color: var(--input-border);
  --react-international-phone-country-selector-background-color-hover: rgba(0, 0, 0, 0.005);
}

body {
  font-family: 'Montserrat', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}